.hero-section {
  height: 500px;
  background-size: cover;
  background-position: center;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-overlay {
  background: rgba(0, 0, 0, 0.4); /* transparent dark box */
  padding: 40px;
  border-radius: 12px;
}

.hero-text {
  color: white;
  text-align: left;
}

.hero-text h2 {
  font-size: 42px;
  margin-bottom: 20px;
}

.hero-text p {
  font-size: 18px;
  margin-bottom: 20px;
}

.apply-btn {
  background-color: #004080;
  color: white;
  padding: 12px 25px;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
}

.apply-btn:hover {
  background-color: rgba(255, 255, 255, 0.2);
  color: white;
}
