.info-section {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 30px;
  margin: 40px 50px;
}

.info-text {
  flex: 2;
  font-size: 20px;
  line-height: 1.6;
  font-weight: bold;
  color: #003366;
}

.info-image {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.info-image img {
  width: 300px; /* smaller and cute */
  height: auto;
  border-radius: 30px;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);
}
